<ion-view title="Edit Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-select">
                <span class="input-label">Country</span>
                <select>
                    <option>India</option>
                    <option>US</option>
                    <option>UK</option>
                </select>
            </label>
            <label class="item item-select" name="State">
                <span class="input-label">State</span>
                <select>
                    <option>Mahareshtra</option>
                    <option>Delhi</option>
                </select>
            </label>
            <label class="item item-select" name="City">
                <span class="input-label">City</span>
                <select>
                    <option>Nashik</option>
                    <option>Pune</option>
                    <option>Mumbai</option>
                </select>
            </label>
            <label class="item item-input" name="Phone ">
                <span class="input-label">Phone</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input" name="Email">
                <span class="input-label">Email</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <div>
            <input type="file">
        </div>
        <button class="button button-balanced button-block button-large icon-right ion-ios-arrow-forward">Save</button>
    </ion-content>
</ion-view>