<ion-view title="Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Hi, Ketan Agnihotri (A+)</h3>
        <div style="text-align:center;">
            <img src="img/MEwH8rmSryQ4xZXG7Qgo_rsz_k10.png" width="50%" height="auto">
        </div>
        <a ui-sref="tabsController.scheduleAppoinment" class="button button-assertive button-block  icon ion-calendar">Schedule Appointment</a>
        <button class="button button-stable button-icon  icon ion-ios-location">Location Info</button>
        <form class="list"></form>
        <div>
            <p>Phone :
                <strong>+91 7276385155</strong>
            </p>

            <p>Email : agnihotriketan@gmail.com</p>

            <p>Nashik, Maharashtra. IN - 422101</p>
        </div>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <button class="button button-stable button-icon  icon ion-clipboard">Donation History</button>
        <a ui-sref="tabsController.editProfile" class="button button-stable button-icon  icon ion-android-settings">Edit Profile</a>
    </ion-content>
</ion-view>