<ion-view title="Search Result">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.searchItem">
                <img>
                <h2>Blood Bank 1</h2>
                <p>Nashik</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.searchItem">
                <img>
                <h2>Blood Bank 2</h2>
                <p>Pune</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.searchItem">
                <img>
                <h2>Blood Bank 3</h2>
                <p>Mumbai</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.searchItem">
                <img>
                <h2>Blood Bank 4</h2>
                <p>Nagpur</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>