<ion-view title="Welcome to Blood Donor">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/KA9n4DKRMG8pyWWTnPLc_SBC-Blood-Drop-Donate-Button.png" width="70%" height="auto">
        </div>
        <a ui-sref="tabsController.login" class="button button-stable button-block ">Login</a>
        <a ui-sref="tabsController.signup" class="button button-positive button-clear button-block ">Or create an account</a>
    </ion-content>
</ion-view>